@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-image: url("/assets/fundo-vetor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding: 2% 0 0 30%;
}

.header__menu {
  display: flex;
  align-items: self-end;
  gap: 80px;
}

.header__menu__links {
  font-size: 1rem;
  font-family: "Krona One", sans-serif;
  text-decoration: none;
  color: #000000;
}

.header__menu__links:hover {
  text-shadow: rgba(0, 0, 0, 0.949) 0.1em 0.1em 0.3em;
}

.header__menu__links:active {
  color: lightblue;
}

.image-coffee {
  width: 3%;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 180px 350px 280px 350px;
  padding: 50px 120px 100px 120px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 10px grey;
  border-radius: 12px;
  gap: 90px;
}

.main__title {
  font-family: "Krona One", sans-serif;
  font-size: 28px;
}

.main__section {
  display: flex;
  flex-direction: row;
  gap: 220px;
}

.icons-esquerda,
.icons-direita {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.telefone,
.email,
.localidade,
.linkedin,
.github,
.instagram {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.contact-icon {
  width: 32px;
}

.main__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.footer {
  padding: 30px;
  margin: 3% 0 0 0;
}

.footer__images__logo {
  width: 2%;
}

h3 {
  display: flex;
  justify-content: end;
  font-size: 18px;
  font-weight: 200;
}

@media (max-width: 1530px) {
  .main__section {
    gap: 90px;
  }
  .icons-esquerda,
  .icons-direita {
    gap: 20px;
  }
}

@media (max-width: 1350px) {
  .main {
    gap: 60px;
  }
  .main__section {
    gap: 50px;
  }

  .telefone,
  .email,
  .localidade,
  .linkedin,
  .github,
  .instagram {
    font-size: 16px;
  }

  .contact-icon {
    width: 28%;
  }
}

@media (max-width: 1260px) {
  .main {
    gap: 40px;
  }
  .main__section {
    gap: 50px;
  }

  .main__title {
    font-size: 20px;
  }

  .main__text {
    font-size: 14px;
    text-align: center;
  }

  .telefone,
  .email,
  .localidade,
  .linkedin,
  .github,
  .instagram {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
  }

  .contact-icon {
    width: 22px;
  }
}

@media (max-width: 1140px) {
  .main {
    position: relative;
  }
  .main__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .icons-esquerda,
  .icons-direita {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
  }

  .main__text {
    position: absolute;
    margin: 360px 0 50px 0;
  }
}
