@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-image: url("/assets/fundo-vetor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding: 2% 0 0 30%;
}

.header__menu {
  display: flex;
  align-items: self-end;
  gap: 80px;
}

.header__menu__links {
  font-size: 1rem;
  font-family: "Krona One", sans-serif;
  text-decoration: none;
  color: #000000;
}

.header__menu__links:hover {
  text-shadow: rgba(0, 0, 0, 0.949) 0.1em 0.1em 0.3em;
}

.header__menu__links:active {
  color: lightblue;
}

.image-coffee {
  width: 3%;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 160px 500px;
  padding: 50px 140px 100px 140px;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 5px 5px 10px grey;
  border-radius: 12px;
  gap: 90px;
}

.main__title {
  font-family: "Krona One", sans-serif;
  font-size: 28px;
}

.main__section {
  display: flex;
  flex-direction: row;
  gap: 220px;
}

.icons-esquerda,
.icons-direita {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.telefone,
.email,
.localidade,
.linkedin,
.github,
.instagram {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
}

.contact-icon {
  width: 32px;
}

.main__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.footer {
  padding: 30px;
  margin: 3% 0 0 0;
}

.footer__images__logo {
  width: 2%;
}

h3 {
  display: flex;
  justify-content: end;
  font-size: 18px;
  font-weight: 200;
}
