@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-image: url("/assets/fundo-vetor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  padding: 2% 0 0 30%;
}

.header__menu {
  display: flex;
  align-items: self-end;
  gap: 80px;
}

.header__menu__links {
  font-size: 1rem;
  font-family: "Krona One", sans-serif;
  text-decoration: none;
  color: #000000;
}

.header__menu__links:hover {
  text-shadow: rgba(0, 0, 0, 0.949) 0.1em 0.1em 0.3em;
}

.header__menu__links:active {
  color: lightblue;
}

.image-coffee {
  width: 3%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 100px 200px;
}

.main__title {
  font-family: "Krona One", sans-serif;
  font-size: 28px;
  padding: 0 0 160px 0;
}

.main__section__primaria {
  box-shadow: 5px 5px 10px grey;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  height: 350px;
  margin: 0 0px 0 400px;
}

.main__div {
  padding: 60px 80px 80px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
}

.main__section__title {
  font-weight: 900;
}

.main__section__text {
  font-size: 16px;
}

.link__button {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#primeiro-botao,
#segundo-botao {
  color: white;
  border: 2px solid #167bf7;
  background-color: #167bf7;
  border-radius: 8px;
  padding: 10px;
  font-weight: 200;
  font-size: 14px;
  text-decoration: none;
}

.footer {
  padding: 30px;
  margin: 3% 0 0 0;
}

.footer__images__logo {
  width: 2%;
}

h3 {
  display: flex;
  justify-content: end;
  font-size: 18px;
  font-weight: 200;
}
