@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-image: url("/assets/fundo-vetor.jpg");
  background-size: cover;
}

.header {
  padding: 2% 0 0 30%;
}

.header__menu {
  display: flex;
  align-items: self-end;
  gap: 80px;
}

.header__menu__links {
  font-size: 1rem;
  font-family: "Krona One", sans-serif;
  text-decoration: none;
  color: #000000;
}

.header__menu__links:hover {
  text-shadow: rgba(0, 0, 0, 0.949) 0.1em 0.1em 0.3em;
}

.header__menu__links:active {
  color: lightblue;
}

.image-coffee {
  width: 3%;
}

.main {
  display: flex;
  margin: 160px 300px;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 5px 5px 10px grey;
  border-radius: 12px;
}

.main__text__title {
  font-family: "Krona One", sans-serif;
  font-size: 30px;
}

.main__text__paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: justify;
}

.main__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 100px;
}

.main__image {
  width: 45%;
}

.footer {
  padding: 30px;
  margin: 3% 0 0 0;
}

.footer__images__logo {
  width: 2%;
}

h3 {
  display: flex;
  justify-content: end;
  font-size: 18px;
  font-weight: 200;
}

@media (max-width: 1740px) {
  .main {
    display: flex;
    flex-direction: row;
    margin: 100px 100px 100px 100px;
    box-sizing: border-box;

    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .main__image {
    width: 50%;
    position: relative;
  }
}

@media (max-width: 1555px) {
  .main__image {
    width: 48%;
  }
}

@media (max-width: 1520px) {
  .main__text {
    padding: 80px 50px 0 50px;
  }
  .main__image {
    width: 35rem;
    height: 30rem;
  }
}

@media (max-width: 1375px) {
  .main__image {
    height: 30rem;
    width: 35rem;
  }
}

@media (max-width: 1390px) {
  .main__image {
    height: 28rem;
    width: 32rem;
  }
}

@media (max-width: 1220px) {
  .main__text {
    padding-bottom: 30px;
  }
  .main__image {
    height: 32rem;
    width: 32rem;
  }
}

@media (max-width: 1150px) {
  .main {
    display: flex;
    flex-direction: column;
    margin: 100px 100px 100px 100px;
    box-sizing: border-box;

    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .main__text {
    padding: 50px 70px 50px 70px;
  }
  .main__image {
    width: 100%;
    position: relative;
  }
}

@media (max-width: 700px) {
  .main {
    display: flex;
    flex-direction: column;
    margin: 80px 50px 80px 50px;
    box-sizing: border-box;

    align-items: center;
    justify-content: space-between;
    position: relative;
  }
}

@media (max-width: 500px) {
  .main {
    display: flex;
    flex-direction: column;
    margin: 80px 30px 80px 30px;
    box-sizing: border-box;

    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .main__text {
    padding: 50px 70px 50px 70px;
  }
}
